.cv{
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
    width: 1200px;
    padding: 10px;
    position: absolute;
    left:50px;
}

.entete-cv{
    display: flex;

}

#maphoto{
    width: 100px;
    height: 100px;
}

.social-network{
    position: absolute;
    right: 30px;
}

.contenu-annee{
    display: flex;
}

.contenu-annee h2{
    margin-right: 20px;
}

